name: Metrics
on:
  # Schedule updates (once a day)
  schedule: [{cron: "0 0 * * *"}]
  # Lines below let you run workflow manually
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          # Your GitHub token
          token: ${{ secrets.GITHUB_TOKEN }}

          # Options
          user: weenaath
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Asia/Colombo
          
          # This controls the "Activity Overview" Radar Chart
          plugin_activity: yes
          plugin_activity_days: 14
          plugin_activity_filter: all
          plugin_activity_limit: 5
          plugin_activity_load: 300
          plugin_activity_visibility: all

          # This controls the "Contributions" Heatmap (Calendar)
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year
